{% extends 'app/base.html' %}

<!-- Load crispy forms -->
{% load crispy_forms_filters %}

{% block content %}

<!-- Navigation Bar -->
{% include 'app/navbar.html' %}

<div class="container-fluid">
    <div class="row mt-3 mx-auto">
        <div class="col">
            <h2>Delete Task</h2>
            <h4>Are you sure you want to delete this task?</h4>
            <form method="POST">
                {% csrf_token %}
                <br>
                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="/" class="btn btn-primary">Cancel</a>
            </form>
        </div>
    </div>

    {% endblock %}