{% extends 'app/base.html' %}

<!-- Load crispy forms -->
{% load crispy_forms_filters %}

{% block content %}

<!-- Navigation Bar -->
{% include 'app/navbar.html' %}

<div class="container-fluid">
  <div class="row mt-3 mx-auto">
    <div class="col-4">
      <h2>Add New Task</h2>
      <form method="POST">
        {% csrf_token %}
        {{ form | crispy}}
        <br>
        <button type="submit" class="btn btn-primary">Add Task</button>
      </form>
    </div>
    <div class="col-8">
      {% if tasks|length == 0 %}
      <h2>No tasks yet</h2>
      <h4>Please consider adding a new task</h4>
      {% else %}
      <table class="table table-bordered">
        <thead>
          <tr class="text-center">
            <th class="col-7" scope="col">Task</th>
            <th class="col-2" scope="col">Deadline</th>
            <th class="col-3" scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks %}
          {% if task.is_completed is False %}
          <tr>
            <td>
              <h6>{{ task.task }}</h6>
              <p>{{ task.description }}</p>
            </td>
            <td class="text-center">{{ task.deadline }}</td>
            <td>
              <a href="{% url 'edit-task' task.id %}" class="btn btn-primary">Edit</a>
              <a href="{% url 'complete-task' task.id %}" class="btn btn-warning">Complete</a>
              <a href="{% url 'delete-task' task.id %}" class="btn btn-danger">Delete</a>
            </td>
          </tr>
          {% else %}
          <tr>
            <td>
              <h6><s>{{ task.task }}</s></h6>
            </td>
            <td class="text-center"><s>{{ task.deadline }}</s></td>
            <td>
              <a href="{% url 'complete-task' task.id %}" class="btn btn-warning">Cancel completion</a>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}