{% extends 'app/base.html' %}

{% load crispy_forms_filters %}

{% block content %}
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form method="POST" action="/login/">
          {% csrf_token %}

          <h2 class="fw-bold my-4">Welcome Back</h2>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="username-form">Username</label>
            <input type="text" name="username" id="username-form" class="form-control form-control-lg"
              placeholder="Enter username" required />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="password-form">Password</label>
            <input type="password" name="password" id="password-form" class="form-control form-control-lg"
              placeholder="Enter password" required />
          </div>

          <div class="text-center text-lg-start pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/signup/" class="link-danger">Sign
                Up</a>
            </p>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}