{% extends 'app/base.html' %}

{% load crispy_forms_filters %}

{% block content %}
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form method="POST" action="/signup/">
          {% csrf_token %}
          <h2 class="fw-bold my-4">Sign Up</h2>

          <!-- Error message -->
          {% if messages %}
            {% for message in messages %}
              {% if message.tags == "error" %}
                <div class="alert alert-danger alert-dismissible">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% elif message.tags == "success" %}
                <div class="alert alert-success alert-dismissible">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}

          <!-- Username input -->
          <div class="form-outline mb-2">
            <label class="form-label" for="username-form">Username</label>
            <input type="text" id="username-form" name="username" class="form-control form-control-lg"
              placeholder="Enter a username for your account" required />
          </div>

          <!-- Email input -->
          <div class="form-outline mb-2">
            <label class="form-label" for="email-form">Email address</label>
            <input type="email" id="email-form" name="email" class="form-control form-control-lg"
              placeholder="Enter a valid email address" required />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-2">
            <label class="form-label" for="password-form">Password</label>
            <input type="password" id="password-form" name="password" class="form-control form-control-lg"
              placeholder="Enter password" required />
          </div>

          <!-- Confirm password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="validate-form">Confirm Password</label>
            <input type="password" id="validate-form" name="password2" class="form-control form-control-lg"
              placeholder="Enter password again" required />
          </div>

          <div class="text-center text-lg-start pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Sign Up</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <a href="/login/"
                class="link-danger">Login</a>
            </p>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}